@charset "UTF-8";

:root {
    --Verde: #49a09d;
    --Lilas: #5f2c82;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    color: var(--Verde);
}

body {
    background-image: linear-gradient(to top, var(--Verde), var(--Lilas));

    position: relative;

    font-size: 0.8em;
}

body h1 {
    padding-bottom: 10px;
}

main {
    
}

    div#login {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        width: 250px;
        height: 515px;

        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.400);
        
        align-items: center;
        transition: width .3s, height .3s;
        transition-timing-function: ease;

        overflow: hidden;
    }

        div#login p {
            padding: 5px 0px;
        }

        div#img {
            background: blue url(../public/images/post10.jpg) no-repeat;
            background-size: cover;
            background-position: left bottom;

            height: 190px;
            width: 100%;

            /*border-radius: 20px 20px 0px 0px;*/
        }

        div#inner-login {
            padding: 10px;
        }

            div#inner-login h1 {
                text-align: center;
            }

            div#email, div#password {
                background-color: var(--Lilas);
                border-radius: 7px;
                padding: 3px;
                display: flex;
                align-self: center;
                margin-bottom: 5px;
            }

                div#email span, div#password span {
                    padding-left: 10px;
                    padding-right: 20px;
                }

                div#email input, div#password input {
                    height: 35px;
                    border-radius: 7px;
                    border: none;
                    width: 100%;
                    background-color: rgb(111, 206, 203);
                }
            
            input[type='submit'] {
                background-color: var(--Verde);
                color: white;
                border: none;
                
                width: 100%;
                height: 42px;
                margin-bottom: 5px;
                border-radius: 7px;
                cursor: pointer;
            }

                input[type='submit']:hover {
                    background-color: #357270;
                }

            input[type = "button"] {
                background-color: white;
                color: #3d8582;
                border: 1px solid var(--Verde);
                width: 100%;
                height: 42px;
                border-radius: 7px;
                cursor: pointer;
                text-indent: 50px;
            }

                input[type = "button"]::after {
                    content: "a";
                }

                input[type = "button"]:hover {
                    background-color: rgb(131, 219, 216);
                }



